{% load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>vegitable market</title>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" >
    <script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

  </head>
  <body>
    
    
    
    <section id="cover">
     <div id="cover-caption">
         <div id="container">
             <div class="col-sm-10 col-sm offset-1">
                 <h1 class="display-6"><marquee>Add your product here</marquee></h1>
                 <div class="info-form">
                 <form  method="post"  action="seller_product" class="form-inline">
                   {% csrf_token %}
                    <div class="form-group">
                        <table>
                          {{ form.as_table }}
                          <tr>
                            <td>
                              
                    <button  type="submit" class="btn btn-success " >okay, go!</button>
                            </td>
                          </tr>
                        </table>
                        
                        </div>
                        
                        
                          
          
                </form>
                </div>
                <br>

                <a href="#nav-main" class="btn btn-secondary-outline btn-sm" role="button">&darr;</a>
             </div>
         </div>
     </div>
 </section>
  </body>
</html>